---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navbar from '../components/navbar.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  navActive?: 'home' | 'about' | 'pricing' | 'support';
}

const { title, navActive = 'home' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="WorkGlobal - Swipe. Match. Work" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ViewTransitions />
    <script>
      import AOS from 'aos';
      import 'aos/dist/aos.css';
      
      document.addEventListener('DOMContentLoaded', () => {
        AOS.init({
          duration: 1000,
          easing: 'ease-in-out',
          once: false,
        });
      });
    </script>
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar active={navActive} />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
